<div class="container mt-4">
  <div class="row mb-4 p-3 bg-white shadow-sm rounded align-items-end mx-1">
    
    <div class="col-md-4">
      <label class="form-label fw-bold small text-uppercase">Search Product</label>
      <input type="text" class="form-control" placeholder="Search by name..." 
             [(ngModel)]="searchText" (input)="applyfilter()">
    </div>

    <div class="col-md-4">
      <div class="d-flex justify-content-between">
        <label class="form-label fw-bold small text-uppercase">Max Price</label>
        <span class="text-primary fw-bold">₹{{ maxPrice }}</span>
      </div>
      <input type="range" class="form-range" min="0" max="100000" step="1000" 
             [(ngModel)]="maxPrice" (input)="applyfilter()">
    </div>

    <div class="col-md-4">
      <label class="form-label fw-bold small text-uppercase">Sort By</label>
      <select class="form-select" [(ngModel)]="sortOrder" (change)="applyfilter()">
        <option value="">Default</option>
        <option value="low">Price: Low to High</option>
        <option value="high">Price: High to Low</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let p of filteredProducts">
      
      <div class="card shadow-sm h-100 border-0 position-relative wishlist-card" 
           (click)="viewProduct(p.id)" 
           style="cursor: pointer; transition: transform 0.2s;">
        
        <img [src]="p.img" class="card-img-top p-3" 
             style="height: 200px; object-fit: contain;" [alt]="p.name">
        
        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold text-truncate" title="{{ p.name }}">{{ p.name }}</h5>
          <p class="small text-muted text-truncate mb-3">{{ p.desc }}</p>
          
          <div class="mt-auto">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-success fw-bold fs-5">₹{{ p.price }}</span>
              
              <div (click)="$event.stopPropagation()">
                <button *ngIf="isInCart(p.id)" 
                        (click)="goToCart()" 
                        class="btn btn-warning btn-sm px-3 shadow-sm fw-bold rounded-pill">
                  <i class="bi bi-arrow-right-circle me-1"></i> Go to Cart
                </button>

                <button *ngIf="!isInCart(p.id)" 
                        (click)="add(p)" 
                        class="btn btn-primary btn-sm px-3 shadow-sm fw-bold rounded-pill">
                  <i class="bi bi-cart-plus me-1"></i> Add to Cart
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 text-center py-5" *ngIf="filteredProducts.length === 0">
        <i class="bi bi-search text-muted display-1"></i>
        <h4 class="text-muted mt-3">Bhai, koi sneaker nahi mila! 👟</h4>
        <p class="text-secondary">Thoda filters change karke dekho.</p>
    </div>
  </div>
</div>